/* 
    Document   : estilo
    Created on : 01-sep-2010, 17:13:40
    Author     : javierclavain
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#barra h2, #barra h4{
    font-family: Georgia;
    font-style: italic;
    font-size: 16px;
    color: #8a9499;
    border: none;
    line-height: 18px;
    padding: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}

#barra h3{
    font-family: Georgia;
    font-style: italic;
    font-size: 16px;
    color: black;
    padding-bottom: 5px;
    font-weight: normal;
    margin-bottom: 10px;   
    border-bottom: #aab1b4 2px dotted;
}

#barra hr{
    margin-top: 5px;
    margin-bottom: 15px;
}

#barra ul{
    margin-bottom: 25px;
    margin-top: 15px;
}

#barra ul li{
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}

#barra a.enlace{
    margin-bottom: 20px;
    margin-top: 10px;
    display: block;
}

#barra a.icono{
    width: 113px;
    height: 34px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-bottom: 15px;
    
    text-indent: -50000px;
}

#barra a.primero{
    margin-right: 20px;
}

#barra a.icono:hover{
    background-position: 0px -34px ;
}


#barra a.contacto{
    background-image: url('../../../img/icon_contacto.png');
}

#barra a.blog{
    background-image: url('../../../img/icon_blog.png');
}

#barra a.facebook{
    background-image: url('../../../img/icon_facebook.png');
}

#barra a.twitter{
    background-image: url('../../../img/icon_twitter.png');
}

#barra a.spotify{
    background-image: url('../../../img/icon_spotify.png');
}

#barra p{
    margin-bottom: 30px;
    text-align: left;
}