
.fan_box .full_widget .connect_top{
    background-color: transparent !important; color:#aaa !important;
    padding: 0px !important;
    
}
.fan_box .full_widget .connect_top a{color:#297FAA !important;}
body.fan_widget &gt; div div *, body.fan_widget .fan_box .connections{border:none 0 !important;}

#fan_widget_container{padding-left:5px;width:274px;overflow:hidden;}
.fan_box .full_widget {
    background: transparent;
    border:solid #dfdede !important;
    border-width: 0px !important;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display:block;
    overflow:hidden;
    width:auto;
}
.fan_box .connections {padding-left: 0px !important; border-top:0px solid #297FAA !important; }
.fan_box .connections .total { color: #aaa !important;}
.fan_box .connections_grid .grid_item{width:42px!important; padding: 0 9px 10px 0 !important; color: #297FAA !important; }
.fan_box .connections_grid .grid_item .name{color: #297FAA !important; }
.fan_box .connections_grid .grid_item img{width:42px!important;}
.fan_box .name_block { /*display:none !important;*/ }

.fan_box .name_block a, .fan_box .name_block a span{
    color: #cc0000 !important;
}

.fan_box .profileimage{
    display: none;
}

.fan_box .name_block{
    display: none !important;
}

/* ESTILOS PARA FACEBOOK COMMENTS */

div.fbConnectWidgetFooter{
    display: none;
}

.fbFeedbackContent  .wallkit_form {
padding: 0 0 15px 0;
margin: 0 0 10px 0;
border-bottom: 1px solid #ff6600;
}
.fbFeedbackContent  .wallkit_form .composer { padding: 0; }
.fbFeedbackContent .pas { padding: 0; }
.fbFeedbackContent .uiBoxGray {
background: none;
border:0;
}
.fbFeedbackContent .toggleform {
margin: 0;
padding: 0;
}
.fbFeedbackContent .toggleform a {
display: block;
font-size: 14px;
color: #fff;
font-weight: bold;
text-transform: uppercase;
background: #ff6600;
padding: 10px 0;
}


/* ESTILOS PARA LOS POSTS */
.fan_box .connect_action{
	padding: 0 0 10px 0;
}

