/* Bubble pop-up */



.tippopup {
    position: absolute;
    display: none;
    z-index: 50;
    border-collapse: collapse;
    width: 500px;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
   -webkit-box-shadow: 5px 5px 5px #999;
   -moz-box-shadow: 5px 5px 5px #999;
}